<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Adicionar Filme</title>
</head>
<body>
<h1>Adicionar Filme</h1>
<form th:object="${filme}" method="post" th:action="@{/filme/novo}">
  <label for="titulo">Título:</label>
  <input type="text" id="titulo" name="titulo" th:field="*{titulo}"/>
  <br>
  <label for="duracao">Duração:</label>
  <input type="text" id="duracao" name="duracao" th:field="*{duracao}"/>
  <br>
  <label for="genero">Genero:</label>
  <input type="text" id="genero" name="genero" th:field="*{genero}"/>
  <br>
  <button type="submit">Salvar</button>
  <a th:href="@{/filme}">Cancelar</a>
</form>
</body>
</html>